:root {
    --azulOscuro: #1b4a87;
    --azul: #1e6fa6;
    --celeste: #7cb9cc;
    --grisClaro: #fafafa;
    --morado: #684f82;
    --moradoClaro: rgb(148, 120, 179);
    --background: #94EAE9;
    --color: #285555;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #75C5C4, #ADFFFD */
body {
    height: 100%;
    background-image: linear-gradient(to top, #7efdfb 1%, #41918f 100%);
    background-repeat: no-repeat;
}

.clase-body,
.perfil-body,
.admin-body {
    height: 100%;
    min-height: 100vh;
}

.card-body {
    color: var(--color);
    text-decoration: underline;
}

.btn-volver {
    background-color: #7ED5FF;
    background-image: linear-gradient(to top,
            var(--background) 50%,
            #ffffff 50%);
    background-size: 100% 200%;
    transition: background-position 0.5s ease-in-out;
}

.btn-volver-registro {
    background-image: linear-gradient(to top,
            var(--celeste) 50%,
            #ffffff 50%);
    margin: 2px 0 0 2px;
}

.btn-volver:hover {
    background-position: 0 -100%;
}

.titulo {
    text-transform: uppercase;
    text-decoration: underline 4px var(--celeste);
}

.shadow-blue {
    /* box-shadow: 0 0.2rem 0.5rem var(--morado) !important;
     */

    /* box-shadow: 0 0.2rem 0.5rem #579393, 0 0.2rem 0.5rem #83DDDB; */
    border-radius: 0 0 20px 20px;
}


/* =================
    INDEX
    =================
*/

.container-inicio-sesion, .container-registro{
    background: rgba(255, 255, 255, 0.50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    width: 30rem;
    min-width: 310px;
}

.container-inicio-sesion {
    color: #000;
    font-weight: 600;
    text-align: center;
}

.body-index {
    background-image: url('img/back3.jpg');
    background-size: cover;
    background-position-y: 20%;
    background-repeat: no-repeat;
    height: 100vh;
}

.titulo-index {
    position: relative;
    font-family: Roboto;
    font-weight: 700;
    margin-bottom: 15px;
    color: #000;
    text-transform: uppercase;
}

.titulo-index::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 5px;
    border-radius: 2px;
    background-color: #004a55;
    /* background: linear-gradient(to right, #ADFFFD, #75C5C4); */
}

.p-index,
.titulo-index-center {
    text-align: center;
}

.btn-registro {
    margin: 0 auto;
}

/* =================
    PRINCIPAL
    =================
*/

nav {
    background-color: #C2FF8F !important;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombreUsuario {
    font-weight: 700;
    color: var(--celeste);
}

.btn-drop {
    background-color: var(--celeste);
    transition: .5s;
}

.btn-drop:hover {
    background-color: var(--azul);
}

.btn-drop:focus {
    border: none;
}

.btn-drop:focus-within {
    background-color: var(--celeste);
    border: none;
}

.picture:hover {
    transition: 1s;
    transform: scale(1.1);
}

footer{
    width: 100%;

}

/* ========== 
        CLASE 
    ========= */
.container-collapse {
    background-color: #fff;
    padding: 20px;
}

.clase{
    position: relative;
    z-index: 100;
    font-family: fantasy;
    letter-spacing: 2px;
    color: white;
    text-shadow: 1px 1px #000;
}

.clase::after{
    content: '';
    position: absolute;
    border-bottom: #000000 30px solid;
    border-left: 30px solid #000000;
    border-right: 30px solid transparent;
    border-top: 30px solid transparent;
    left: 0;
    bottom: 0;
    z-index: -1;    
}

/* ======== 
        PERFIL
    ========== */


.datos {
    font-size: large;
    font-weight: 700;
}

.datosPerfil {
    font-weight: 600 !important;
    text-decoration: underline;
}

/* ======== 
        REGISTRO
    ========== */

.btn-registrarse{
    margin-left: 40%;
}

/* ==========
    ICONOS
    ========== */
    .bi-filetype-pdf{
        color: rgb(255, 36, 36);
        font-size: larger;
    }
    
    .bi-play-fill{
        color: #004a55;
        font-size: larger;
    }

/* =================
    PANTALLA CHICAS
    =================
*/

@media (max-width: 576px) {

    .container-inicio-sesion, .container-registro{
        width: 300px;
    }

    .container-card {
        flex-direction: column;
    }

    /* ==== INDEX ==== */
    .btn-ingresar{
        margin-left: auto;
    }

    .btn-registrarse{
        margin-left: 30%;
    }
}