* {
    --azulOscuro: #1b4a87;
    --azul: #1e6fa6;
    --celeste: #7cb9cc;
    --grisClaro: #fafafa;
    --morado: #684f82;
    --moradoClaro: rgb(148, 120, 179);
    --background: #94EAE9;
    --color: #285555;
}

body {
    height: 100%;
    background-image: linear-gradient(to top, #adfffd 0%, #72afd3 100%);
    background-repeat: no-repeat;
}

.clase-body, .perfil-body, .admin-body{
    height: 100vh;
}

.card-body {
    color: var(--color);
    text-decoration: underline;
}

.btn-volver {
    background-color: #7ED5FF;
    background-image: linear-gradient(to top,
            var(--background) 50%,
            #ffffff 50%);
    background-size: 100% 200%;
    transition: background-position 0.5s ease-in-out;
}

.btn-volver-registro {
    background-image: linear-gradient(to top,
            var(--celeste) 50%,
            #ffffff 50%);
    margin: 2px 0 0 2px;
}

.btn-volver:hover {
    background-position: 0 -100%;
}

.btn-success {
    background-color: var(--moradoClaro);
    border: var(--moradoClaro);
}

.btn-success:hover {
    background-color: var(--morado);
    border: var(--morado);
}

.titulo {
    text-transform: uppercase;
    text-decoration: underline 4px var(--celeste);
}

.shadow-blue {
    /* box-shadow: 0 0.2rem 0.5rem var(--morado) !important;
     */

     /* box-shadow: 0 0.2rem 0.5rem #579393, 0 0.2rem 0.5rem #83DDDB; */
    border-radius: 0 0 20px 20px;
}


/* =================
    INDEX
    =================
*/

.body-index {
    background-image: url('img/back3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.titulo-index {
    position: relative;
    font-family: roboto;
    font-weight: 700;
    margin-bottom: 15px;
}

.titulo-index::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 5px;
    border-radius: 2px;
    background: linear-gradient(to right, #579393, #ADFFFD);
}

.p-index, .titulo-index-center{
    text-align: center;
}

.btn-ingresar {
    margin-left: 50%;
}

.btn-registro {
    margin: 0 50%;
}

/* =================
    PRINCIPAL
    =================
*/

nav {
    background-color: #C2FF8F !important;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombreUsuario {
    font-weight: 700;
    color: var(--celeste);
}

.btn-drop{
    background-color: var(--celeste);
    transition: .5s;
}

.btn-drop:hover{
    background-color: var(--azul);
}

.btn-drop:focus{
    border: none;
}

.btn-drop:focus-within{
    background-color: var(--celeste);
    border: none;
}

/* ========== CLASE ========= */
.container-collapse {
    background-color: #fff;
    padding: 20px;
}



/* ======== PERFIL ========== */


.datos {
    font-size: large;
    font-weight: 700;
}

.datosPerfil {
    font-weight: 600 !important;
    text-decoration: underline;
}

/* =================
    PANTALLA CHICAS
    =================
*/

@media (max-width: 576px) {

    .container-card {
        flex-direction: column;
    }

    /* ==== INDEX ==== */

    .btn-ingresar {
        margin-left: 40%;
    }

    .btn-registro{
        margin: 0 40%;
    }
}
